{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Módulo "{{ post_inversor['modelo'] }}" {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Modulo</label>
        <input type="text" name="modelo" placeholder="Modelo"
               class="form-control"
               value="{{ request.form['modelo'] or post_inversor['modelo'] }}">
        </input>
    </div>
    <div class="form-group">
        <label for="title">Quantidade</label>
        <input type="text" name="quantidade" placeholder="Quantidade"
               class="form-control"
               value="{{ request.form['quantidade'] or post_inversor['quantidade'] }}">
        </input>
    </div>
    <div class="form-group">
        <label for="title">Potência</label>
        <input type="text" name="potencia" placeholder="Potência"
               class="form-control"
               value="{{ request.form['potencia'] or post_inversor['potencia'] }}">
        </input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Alterar</button>
    </div>
</form>
<hr>
{% endblock %}