{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Bem Vindo ao PIWEB!! {% endblock %}</h1>
    <h6>Edite o modulo, inversor desejado e o consumo da edifição</h6>
    
    {% for post in posts_modulos %}
        <a href="{{ url_for('post_modulo') }}">
            <h2>Móduto atual: {{ post['modelo'] }}</h2>
        </a>
        <span class="badge badge-primary">Quantidade: {{ post['quantidade'] }}</span>
        <span class="badge badge-primary">Potência: {{ post['potencia'] }}</span>
        <a href="{{ url_for('edit_modulos') }}">
            <span class="badge badge-warning">Edit</span>
        </a>
    {% endfor %}

    {% for post in posts_inversores %}
        <a href="{{ url_for('post_inversor') }}">
            <h2>Inversor atual: {{ post['modelo'] }}</h2>
        </a>
        <span class="badge badge-primary">Quantidade: {{ post['quantidade'] }}</span>
        <span class="badge badge-primary">Potência: {{ post['potencia'] }}</span>
        <a href="{{ url_for('edit_inversores') }}">
            <span class="badge badge-warning">Edit</span>
        </a>
    {% endfor %}

    {% for post in consumo %}
        <a href="{{ url_for('post_consumo') }}">
            <h2>Escola atual: {{ post['escola'] }}</h2>
        </a>
        <h10>Consumo anual: </h10>
        <span class="badge badge-primary">{{ post['janeiro'] }}</span>
        <span class="badge badge-primary">{{ post['fevereiro'] }}</span>
        <span class="badge badge-primary">{{ post['marco'] }}</span>
        <span class="badge badge-primary">{{ post['abril'] }}</span>
        <span class="badge badge-primary">{{ post['maio'] }}</span>
        <span class="badge badge-primary">{{ post['junho'] }}</span>
        <span class="badge badge-primary">{{ post['julho'] }}</span>
        <span class="badge badge-primary">{{ post['agosto'] }}</span>
        <span class="badge badge-primary">{{ post['setembro'] }}</span>
        <span class="badge badge-primary">{{ post['outubro'] }}</span>
        <span class="badge badge-primary">{{ post['novembro'] }}</span>
        <span class="badge badge-primary">{{ post['dezembro'] }}</span>
        <a href="{{ url_for('edit_consumo') }}">
            <span class="badge badge-warning">Edit</span>
        </a>
    {% endfor %}
    
    <!--{% for post in posts %}
        <a href="{{ url_for('post', post_id=post['id']) }}">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
    {% endfor %}-->
    <a href="{{ url_for('gera_relatorio') }}">
        <h1></h1>
        <h1></h1>
        <h1>Gerar relatório</h1>
    </a>
{% endblock %}
