{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ post_consumo['escola'] }} {% endblock %}</h2>
    <p>{{ post_consumo['janeiro'] }}</p>
    <p>{{ post_consumo['fevereiro'] }}</p>
    <p>{{ post_consumo['marco'] }}</p>
    <p>{{ post_consumo['abril'] }}</p>
    <p>{{ post_consumo['maio'] }}</p>
    <p>{{ post_consumo['junho'] }}</p>
    <p>{{ post_consumo['julho'] }}</p>
    <p>{{ post_consumo['agosto'] }}</p>
    <p>{{ post_consumo['setembro'] }}</p>
    <p>{{ post_consumo['outubro'] }}</p>
    <p>{{ post_consumo['novembro'] }}</p>
    <p>{{ post_consumo['dezembro'] }}</p>
{% endblock %}